.css-1v0mbdj.etr89bj1{
position:relative;
right: 55%;
top:100px;
width : 250px;
hight : 230px;
}

/* .main.css-k1vhr4.egzxvld3{
background: linear-gradient(to right, #87CEEB, #4682B4, #00008B);
} */

.block-container.css-12oz5g7.egzxvld2{
background: white;
border-radius: 25px;
margin-top: 100px;

}
.css-1n76uvr.e1tzin5v0{
margin-top : -200px;
}

[data-testid="stHeader"] {
background-color: rgba(0, 0, 0, 0 );}


div.st-b3.st-be.st-bj.st-bp.st-cj.st-bi{
right: 100cm;
top:100px;
}
